.main {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: relative;
}

.link {
  color: rgb(25, 97, 143);
  text-decoration: none;
  font-weight: bold;
}

.error{
  color: brown;
  text-align: center;
  font-size: 1.3rem;
}