.main {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  position: relative;
}

h1 svg {
  color: rgb(0, 157, 255);
}

.link {
  color: rgb(25, 97, 143);
  text-decoration: none;
  font-weight: bold;
}

.error{
  color: brown;
  text-align: center;
  font-size: 1.3rem;
}