.main {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  color: inherit;
  text-decoration: none;
  border: 1px rgba(240, 248, 255, 0.6) solid;
  cursor: pointer;
}

.main:hover {
  background-color: hsla(210, 100%, 50%, 0.3);
}

.info {
  padding: 0.5rem;
  color: rgba(240, 248, 255, 0.7);
}

.info__fullname {
  margin-bottom: 0;
  color: aliceblue;
  text-transform: capitalize;
}

.info__username {
  margin-top: 0;
}

.info__bio {
  color: aliceblue;
}

.btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.8rem;
  color: rgb(0, 157, 255);
  text-decoration: none;
  background-color: #15202b;
  border: 2px solid rgb(0, 157, 255);
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

.logo {
  align-self: flex-start;
  height: 2rem;
}

.logo img {
  height: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}
