.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
}

.avatar {
  height: 3rem;
  border-radius: 50%;
  background-color: aliceblue;
}

.compose {
  display: flex;
  padding: 1rem;
  align-self: center;
}