.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: 0.5rem;
}

.avatar {
  height: 3rem;
  background-color: aliceblue;
  border-radius: 50%;
}

.main input {
  background-color: rgb(21, 32, 43);
}

.compose {
  display: block;
  border-top: 1px solid rgba(240, 248, 255, 0.6);
  border-bottom: 5px solid rgba(240, 248, 255, 0.6);
}
