.header {
  position: relative;
}

.images {
  position: relative;
  margin-bottom: 3rem;
}

.cover {
  height: 250px;
  max-height: 40vh;
  background-color: rgb(25, 97, 143);
  width: 100%;
}

.avatar {
  display: flex;
  position: absolute;
  bottom: -3rem;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 5px solid #15202b;
  background-color: aliceblue;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: #15202b;
}

.avatar img {
  height: 100%;
}

.info {
  color: rgba(240, 248, 255, 0.7);
  padding: .5rem;
}

.info__fullname {
  color:aliceblue ;
  text-transform: capitalize;
  margin-bottom: 0;
}

.info__username {
  margin-top: 0;
}

.info__bio {
  color: aliceblue;
}

.place {
  display: flex;
  justify-content: flex-start;
}

.place p {
  padding: 0 .5rem;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tweet {
  border: 1px aliceblue solid;
}

.tab__header{
  width: 100%;
  margin: 0;
  padding: 1.3rem;
  text-align: center;
  cursor: pointer;
}

.tab__header:hover  {
  background-color:  rgba(0, 157, 255, 0.2);
  color:  rgb(0, 157, 255);
}

.tab__header__active {
  color:  rgb(0, 157, 255);
  border-bottom: 3px solid rgb(0, 157, 255);
}

.tab__content {
  display: none;
}
