.header {
  position: relative;
}

.images {
  position: relative;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.btn {
  padding: 0.5rem;
  color: rgb(0, 157, 255);
  text-decoration: none;
  background-color: #15202b;
  border: 2px solid rgb(0, 157, 255);
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: aliceblue;
}

.info {
  padding: 0.5rem;
  color: rgba(240, 248, 255, 0.7);
}

.info__fullname {
  margin-bottom: 0;
  color: aliceblue;
  text-transform: capitalize;
}

.info__username {
  margin-top: 0;
}

.info__bio {
  color: aliceblue;
}

.place {
  display: flex;
  justify-content: flex-start;
}

.place p {
  padding: 0 0.5rem;
}

.place a {
  color: rgb(0, 157, 255);
  text-decoration: none;
}

.follows,
.follows a {
  display: flex;
  justify-content: flex-start;
  color: aliceblue;
  text-transform: capitalize;
  text-decoration: none;
}

.follow:hover {
  text-decoration: underline;
}

.count {
  padding: 0 0.5rem;
  color: aliceblue;
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
}

.tweet {
  border: 1px aliceblue solid;
}

.tab__header {
  width: 100%;
  margin: 0;
  padding: 1.3rem;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
}

.tab__header:hover {
  color: rgb(0, 157, 255);
  background-color: rgba(0, 157, 255, 0.2);
}

.tab__header__active {
  color: rgb(0, 157, 255);
  border-bottom: 3px solid rgb(0, 157, 255);
}

.tab__content {
  display: none;
}
