.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.unsigned {
  flex-direction: column;
}

.unsigned .children{
  margin-top: 5rem;
}
.children {
  flex-grow: 1;
  border-right: 2px solid rgba(240, 248, 255, 0.6);
  border-left: 2px solid rgba(240, 248, 255, 0.6);
}

.following {  
  padding: 2rem;
  min-width: 20rem; 
}

.unsigned .children {
  border: none;
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }
  .children {
    flex-grow: 1;
  width: 100%;
  border: none;
  min-height: 80vh;
  }

  .following {
    display: none;
  }
}
