.avatar {
  bottom: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  overflow: hidden;
  color: #15202b;
  background-color: aliceblue;
  border: 5px solid #15202b;
  border-radius: 50%;
}

.avatar img {
  height: 100%;
}

.avatar svg {
  color: aliceblue;
  background-color: #15202b;
}
