.main {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
}

.wrapper {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(0, 157, 255, 0.1);
  border-radius: 5px;
}

.wrapper div {
  font-size: small;
}

.wrapper > div {
  width: 100%;
}

.wrapper button {
  top: 0.5rem;
  right: 0.5rem;
  align-self: center;
}

.header {
  padding: 0.5rem;
  font-size: large;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
