.main {
  text-align: center;
}

.form {
  width: 100%;
}

.btn {
  width: fit-content;
  margin: 1rem 0;
  padding: 1rem;
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(25, 97, 143);
  border: none;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(0, 157, 255);
}

.submit {
  float: right;
}

.field {
  margin: 1rem 0;
  background-color: rgb(42, 63, 83);
  border-bottom: 2px solid #0091ff;
}

.field.empty {
  border-bottom: 2px solid #f00;
}

.label {
  padding: 0.5rem;
  color: #c5e0f5;
  text-transform: capitalize;
}

.empty {
  background-color: rgb(255, 221, 221);
}

.empty .label,
.empty::placeholder {
  color: red;
}

.fInput::placeholder {
  color: #c5e0f5;
}

.field:hover .fInput::placeholder,
.field:hover .label {
  color: #0091ff;
}

.fInput,
input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
  background-color: rgb(42, 63, 83);
  border: none;
  border-radius: 5px;
  outline: none;
}

input[type="textarea"] {
  height: 100px;
}

input[type="checkbox"] {
  width: initial;
}

.error {
  padding: 0.5rem;
  color: #ff9d9d;
  font-style: italic;
}

.show_password_label {
  display: flex;
}
