.main {
  display: flex;
  position: relative;
  width: 8rem;  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: aliceblue;
  padding: 1rem 2rem;
  z-index: 10;
}

.main button {
  height: 1.5rem;
}

.unsigned{
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: flex-start;
  height: 5rem;
  justify-content: center;
  background:rgb(21, 32, 43);
  width: 100%;
  box-shadow: 2px 2px 4px rgb(0, 157, 255) ;
}

  .links {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
}
  .link,
.auth {
  text-decoration: none;
  padding: 1rem .5rem;
  width: 100%;
  margin: .5rem;
  border-radius: 30px;
  text-transform: uppercase;
}

.link:hover  {
  background-color:  rgba(0, 157, 255, 0.3);
}

.link svg {
  color: aliceblue;
}

.link:hover svg {
  color:  rgb(0, 157, 255);
}

.link svg.active {
  color:  rgb(0, 157, 255);
}

.signin {
  color :rgb(0, 157, 255);
  background-color: aliceblue;
}

.signup {
  background-color :rgb(0, 157, 255);
  color: aliceblue;
}

.navbar {
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and (max-width: 700px) {
  .main {
    width: 100%;
    justify-content: flex-end;
  z-index: 10;
  height: 5rem;

  }
  .links {
    background-color: rgb(21, 32, 43);
height: 100;    width: 100%;
    flex-direction: row;
    box-shadow: 2px 2px 4px  rgb(134, 194, 255);;
    justify-content: flex-start;
  }
  .link {
    width: auto;
  }
}
