.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main button {
  height: 20px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.link1 {
  text-decoration: none;
  padding: .5rem 1rem;
}

.link2 {
  text-decoration: none;
  padding: .5rem 1rem;
}