.main {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 8rem;
  padding: 2rem 3rem;
  color: aliceblue;
}

.main form button {
  height: 1.5rem;
}

.unsigned {
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0;
  background: rgb(21, 32, 43);
  box-shadow: 2px 2px 8px rgb(0, 157, 255);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.links {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 2rem 0;
  text-align: center;
}

.links__profile {
  display: flex;
  flex-direction: column;
}

.unsigned .links {
  position: unset;
  height: unset;
}

.link,
.auth {
  width: 100%;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px;
}

.link:hover {
  background-color: rgba(0, 157, 255, 0.3);
}

.link svg {
  color: aliceblue;
}

.link:hover svg,
.link svg.active {
  color: rgb(0, 157, 255);
}

.demo {
  max-width: max-content;
  height: unset;
  margin: 0;
  padding: 1rem;
  color: aliceblue;
  font-weight: bold;
  background-color: rgb(114, 180, 70);
  border: none;
  cursor: pointer;
}

.demo:hover {
  color: rgb(114, 180, 70);
  background-color: aliceblue;
}

.signin {
  color: rgb(0, 157, 255);
  background-color: aliceblue;
}

.signup {
  color: aliceblue;
  background-color: rgb(0, 157, 255);
}

.navbar {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .main {
    position: fixed;
    top: 0;
    z-index: 10;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    padding: 0;
    background-color: rgb(21, 32, 43);
    box-shadow: 2px 2px 4px #86c2ff;
  }

  .links {
    flex-direction: row;
    width: 100%;
    height: unset;
    padding: 0 1rem;
  }

  .links__profile {
    flex-direction: row;
  }

  .link {
    width: auto;
  }

  .demo {
    padding: 0.5rem;
  }
}
