.main {
  color: aliceblue;
  display: flex;
  align-items: center;;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  width: 100%;
}

.link {
  color: rgb(25, 97, 143);
  text-decoration: none;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.btns_container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid aliceblue;
}

.btns_picture {
  display: flex;
  padding: 1rem;
  cursor: pointer;
}
.btns_picture:hover  {
  background-color:  rgba(0, 157, 255, 0.3);
  border-radius: 50%;
}
.btns_picture:hover svg {
  color:  rgb(0, 157, 255);
}


.btns_picture svg {
  color: rgb(25, 97, 143);
}

.btns_submit {
  display: flex;
}

.picture__input {
  width: 0.1px;
    height: 0.1px;
    opacity: 0;
    z-index: -1;}

    .media {
      align-self: center;
      position: relative;
      max-width: 300px;
      padding: .5rem;
    }
    .media img {
      border-radius: 10px;
      width: 100%;
    }

    .close {
      position: absolute;
      top: -1rem;
      right: 1rem;
      color: #aaa;
      float: right;
      font-size: 4rem;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

.compose {
  display: flex;
}

.form {
  flex-grow: 1;
}

.btn {
  padding: 1rem;
}
.btn button {
  background-color: rgb(25, 97, 143);
  color: aliceblue;
  border-radius: 40px;
  outline: none;
  border:none;
  width: fit-content;
  padding: .8rem;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgb(0, 157, 255);
}
