.main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: #f0f8ff;
  border-top: 1px aliceblue solid;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.mainTweet {
  display: block;
  align-items: center;
  justify-content: start;
  padding-right: 0.5rem;
  color: aliceblue;
  font-size: 2rem;
  text-decoration: none;
}

.mainTweet div {
  font-size: large;
}
