.main {
  color: #f0f8ff;
  display: flex;
  border-top: 1px aliceblue solid;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  width: 100%;
}

.logo {
  align-self: flex-start;
  height: 2rem;
}

.logo img {
  height: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.message {
  padding: 5rem 0;
  text-align: center;
  font-size: 2rem;
}


.identifier{
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: .5rem;
  text-decoration: none;
  color: aliceblue;
}

.username {
  padding-left: .5rem;
  font-size: .8rem;
  color: rgba(240, 248, 255, 0.7);
}

.date {
color: rgba(240, 248, 255, 0.7);
font-size: .8rem;
}

.text {
  font-size: 1.1rem;
  padding: .5rem;
}

.media {
  align-self: center;
}
.media img {
  border-radius: 10px;
}
.activity {
  display: flex;
  justify-content: space-evenly;
  font-size: .9rem;
  align-items: center;
}

.comment {
cursor: pointer;
display: flex;
justify-content: space-evenly;
color: rgba(240, 248, 255, 0.7);
z-index: 5;
}

.like {
display: flex;
cursor: pointer;
color: rgba(240, 248, 255, 0.7);
z-index: 5;
}

.comment:hover {
  color: rgb(0, 162, 255);
}

.comment:hover,
.comment:hover svg {
  color: rgb(0, 162, 255);
} 
.icon {
  padding: .5rem;
}
.comment:hover .icon {
  background-color:  rgba(0, 157, 255, 0.3);
  border-radius: 50%;
}
.commented {
  color: rgb(0, 162, 255);
}
.like:hover,
.like:hover svg {
  color: red;
}
.liked {
  color: red;
}
.like:hover  .icon{
  background-color:  rgba(255, 0, 0, 0.3);
  border-radius: 50%;
}

.count {
  padding: .5rem;
}

.delete:hover,
.delete:hover svg {
  color: red;
}

.delete:hover  .icon{
  background-color:  rgba(255, 0, 0, 0.3);
  border-radius: 50%;
}

.link {
  color: rgb(25, 97, 143);
  text-decoration: none;
  font-weight: bold;
}

.btn_danger {
  padding: 1rem;
  border: none;
  border-radius: 20px;
  color: aliceblue;
  background-color: brown;
  align-self: flex-end;
}

.btn_danger:hover {
  background-color: rgb(255, 128, 128);
  color: blue;
}