.main {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: #f0f8ff;
  border-top: 1px aliceblue solid;
  cursor: pointer;
}

.logo {
  align-self: flex-start;
  height: 2rem;
}

.logo img {
  height: 100%;
  background-color: aliceblue;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.message {
  padding: 5rem 0;
  font-size: 2rem;
  text-align: center;
}

.identifier {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 0.5rem;
  color: aliceblue;
  text-decoration: none;
}

.fullname {
  font-weight: bold;
  text-transform: capitalize;
}

.username {
  padding-left: 0.5rem;
  color: rgba(240, 248, 255, 0.7);
  font-size: 0.8rem;
}

.date {
  color: rgba(240, 248, 255, 0.7);
  font-size: 0.8rem;
}

.text {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.media {
  display: flex;
  align-self: center;
  justify-content: center;
}

.media img {
  max-width: 100%;
  border-radius: 10px;
}

.activity {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

.comment {
  z-index: 5;
  display: flex;
  justify-content: space-evenly;
  color: rgba(240, 248, 255, 0.7);
  cursor: pointer;
}

.like {
  z-index: 5;
  display: flex;
  color: rgba(240, 248, 255, 0.7);
  cursor: pointer;
}

.comment:hover,
.comment:hover svg,
.commented {
  color: rgb(0, 162, 255);
}

.icon,
.count {
  padding: 0.5rem;
}

.comment:hover .icon {
  background-color: rgba(0, 157, 255, 0.3);
  border-radius: 50%;
}

.like:hover,
.like:hover svg,
.liked,
.delete:hover,
.delete:hover svg {
  color: red;
}

.like:hover .icon,
.delete:hover .icon {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 50%;
}

.link {
  color: rgb(25, 97, 143);
  font-weight: bold;
  text-decoration: none;
}

.btn_danger {
  align-self: flex-end;
  padding: 1rem;
  color: aliceblue;
  background-color: brown;
  border: none;
  border-radius: 20px;
}

.btn_danger:hover {
  color: blue;
  background-color: rgb(255, 128, 128);
}
